<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
    <title>Bookings | Sri Jayam</title>
</head>
<body>

    <%- include('navbar') %>

<header>
    <h1>Bookings</h1>
    <p>Here are the bookings made so far:</p>
</header>

<main class="center">
    <div class="over">
    <% Object.keys(bookings).forEach((key) => { %>
        <h3>Booking No. <%- key %></h3>
        <p>Date: <%- bookings[key].date %></p>
        <p>Time: <%- bookings[key].time %></p>
    <% }); %>
    </div>

    <div class="into">
    <p>Click <a href="/book">here</a> to go back to the booking page.</p>
    <p>Click <a href="/">here</a> to go back to the home page.</p>
    </div>
</main>
    <%- include('map') %>
    <%- include('footer') %>
</body>
</html>