<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact | Sri Jayam</title>
    <link rel="stylesheet" href="bookingPageStyles.css">
</head>
<body>

    <%- include('navbar') %>  
  
<header> 
    <h1>Contact us</h1>
</header>

<hr>

<main>
    
    <table>
        <tbody>
            <tr>
                <td>
                    <h4>Ph:</h4>
                </td>
                <td>
                    <p id="phone"><%- phone %></p>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Email:</h4>
                </td>
                <td>
                    <p id="email"><%- email %></p>
                </td>
            </tr>
        </tbody>
    </table>

    <hr>

    <h2>Find us using the map below</h2>
    <p>Or, you might want to use <a href="https://maps.app.goo.gl/ppYe7tvJ4icXnDyT9">this link</a>.</p>

<%- include('map') %>

</main>

<%- include('footer') %>

<script src="booking.js"></script>

<script>

    const phoneNum = document.getElementById('phone');
    phoneNum.textContent = phoneVar;

    const emailId = document.getElementById('email');
    emailId.textContent = emailVar;

</script>

</body>
</html>